name: 'Go App'
on: [push, pull_request]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/setup-go@v1
      with:
        go-version: 1.12
    - uses: actions/checkout@v2
    - run: go build main.go
    - run: go run main.go
